<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>

<div class="jumbotron text-center">
  <h1>Download Tracker</h1>
  <p>Resize this responsive page to see the effect!</p>
</div>

<div class="container">
    <div class="row">
        <div class="form-group col-lg-4">
            <input type="text" class="form-control" id="id_task">
        </div>
        <input type="button" class="btn btn-info" id="id_check_btn" value="Check">
    </div>
    <div class="row">
        <div class="col-sm-12">
            <table class="table" id="id_task_status_tbl">
                <thead>
                  <tr>
                    <th>Task Id</th>
                    <th>Total Size</th>
                    <th>Downloaded Size</th>
                    <th>Pending Size</th>
                    <th>Status</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    $(document).on('click', '#id_check_btn', function (eve) {
        task_id = $('#id_task').val();
        if (!task_id) return false;

        var ajaxUrl = '/api/trackers/'+ task_id +'/';
        $.ajax({
            async: true,
            type: "GET",
            url: ajaxUrl,
            success: function (response) {
                var task_id = response.task_id;
                var ele_class_name = task_id + '_cls';

                if (response.state === 'Downloading') {
                    var htmlEle = ''+
                        '<tr class="'+ ele_class_name +'">' +
                            '<td>'+ task_id +'</td>'+
                            '<td>'+ response.total_size +'</td>'+
                            '<td>'+ response.downloaded_size +'</td>'+
                            '<td>'+ response.pending_size +'</td>'+
                            '<td>'+ response.state +'</td>'+
                            '<td></td>'+
                        '</tr>';
                } else {
                    var htmlEle = ''+
                        '<tr class="'+ ele_class_name +'">' +
                            '<td>'+ task_id +'</td>'+
                            '<td>'+ 0 +'</td>'+
                            '<td>'+ 0 +'</td>'+
                            '<td>'+ 0 +'</td>'+
                            '<td>'+ response.state +'</td>'+
                            '<td></td>'+
                        '</tr>';
                }

                if ($('.'+ele_class_name).length) {
                    $('.'+ele_class_name).css('color', 'red');
                }

                $('table#id_task_status_tbl tbody').append(htmlEle);
            },
            error: function (xhr, error, err) {
                alert(err);
            }
        });
    });
</script>

</body>
</html>
