<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="">
      <meta name="author" content="">

      <title>Warning</title>
      <style type="text/css">
          button.home {
              background-color: black;
              color: white;
              border: transparent;
              padding: 10px 15px;
              border-radius: 5px;
          }
      </style>
    </head>
    <body style="">
        <div align="center" style="background-color: lightgray; padding: 10%; font-size: 25px; font-family: cursive;">
            <span>OOPS! Could not Find it</span><br>
            <span style="font-size: 120px; margin-right: -20px; color: #93b90c;">4</span>
            <span style="font-size: 120px; margin-right: -20px;">0</span>
            <span style="font-size: 120px; margin-right: -20px; color: #93b90c;">0</span>
            <br><button class="home">Home</button>
        </div>
    </body>
</html>